<!-- END DATA TABLE-->
<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Danh sách khóa học</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="property" id="slCat">
                                <option selected="selected">Loại danh mục</option>
                                <option value="0">Danh mục</a></option>
                                <option value="1">Danh mục con</a></option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="time">
                                <option selected="selected">Giảng viên</option>
                                {{#each teachers}}
                                    <option value="{{TeachID}}">{{TeachName}}</option>
                                {{/each}}

                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <button class="au-btn-filter">
                            <i class="zmdi zmdi-filter-list"></i>filters</button>
                    </div>
                    <div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="zmdi zmdi-plus"></i>add item</button>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </th>
                                <th>Avatar</th>
                                <th>Họ tên</th>
                                <th>Email</th>     
                                <th>Đã kích hoạt</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each students}}
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <img src="/images/students/{{StdAvatar}}" alt="{{StName}}"
                                            style="width:70px;height:70px;">
                                    </td>
                                    <td>{{StName}}</td>
                                    <td>
                                        <span class="block-email">{{Email}}</span>
                                    </td>
                                    <td>
                                        <span class="status--process">{{#if ActiveCode}}Chưa kích hoạt{{else}}Đã kích hoạt{{/if}}</span>
                                    </td>

                                    <td>
                                        <div class="table-data-feature">

                                            <button class="item" data-toggle="tooltip" data-placement="top"
                                                title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top"
                                                title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top"
                                                title="More">
                                                <i class="zmdi zmdi-more"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->
