{{#section 'css'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/courses.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/courses_responsive.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css" />
{{/section}}
{{#section 'js'}}
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="/assets/js/courses.js"></script>
    <script src="/assets/js/_bonus.js"></script>
    <script>
        $(document).ready(function () {

            const limit = JSON.parse('{{{json limit}}}');
            const currentPage = JSON.parse('{{{json currentPage}}}');
            const totalPage = JSON.parse('{{{json totalPage}}}');
            const maxIndex = 3;
            if (+currentPage > 0 && +currentPage <= maxIndex) {
                $('.prev').hide();
            }

            const minPage = +totalPage % maxIndex === 0 ? (Math.floor(+totalPage / maxIndex) * maxIndex - maxIndex) : (Math.floor(+totalPage / maxIndex) * maxIndex);
            if (+currentPage > minPage && +currentPage <= +totalPage || +totalPage <= maxIndex) {
                $('.next').hide();
            }


            const text = '{{{json text}}}' !== '' ? JSON.parse('{{{json text}}}') : null;
            const num = Math.floor((+currentPage - 1) / maxIndex) * maxIndex;

            let qs = '?page=';
            if (text !== undefined && text !== null) {
                qs = '?text=' + text + '&page=';
            }

            $('.next').children('a').attr('href', qs + (+currentPage + 1));
            $('.prev').children('a').attr('href', qs + (+currentPage - 1));



            for (let i = 1; i < maxIndex + 1; i++) {

                const indexPage = num + i;
                if (indexPage <= +totalPage) {

                    $('.pagination_list').children(`li:nth-child(${1 + i})`).children('a').html(indexPage);
                    let href = '?page=' + indexPage;
                    if (text !== undefined && text !== null) {
                        href = '?text=' + text + '&page=' + indexPage;
                    }
                    $('.pagination_list').children(`li:nth-child(${1 + i})`).children('a').attr('href', href);
                    if (indexPage === +currentPage) {
                        $('.pagination_list').children(`li:nth-child(${1 + i})`).addClass('active');
                    }
                } else {
                    $('.pagination_list').children(`li:nth-child(${1 + i})`).hide();
                }
            }

            $('#courses_search_form').on('submit', function (e) {
                e.preventDefault();
                if ($('#courses_search_form').children('input').val().trim() != "") {
                    $('#courses_search_form').off('submit').submit();
                }
            });

            if ($('#favList').val()) {
                const lcFavourite = JSON.parse('{{{json lcFavourite}}}');
                const items = $('.item');

                for (item of items) {
                    const id = $(item).data("id");
                    let ci;
                    if (ci = lcFavourite.find(x => x.CourID === id)) {
                        const aLike = $(item).find('.course_like');
                        aLike.css('color', 'red');
                        aLike.attr('data-id', `${ci.FavID}`);
                    }
                }
            }

            $('.course_like').on('click', function () {
                let url = '/account/myfavourite/';
                const id = $(this).data("id");
                if (id) {
                    url += 'del';
                    $('#txtID').val(id);

                } else {
                    url += 'add';
                    const CourID = $(this).parents('.item').data("id");
                    $('#txtID').val(CourID);
                }

                $('#frmFavour').attr('action', url);
                $('#frmFavour').submit();
            });

            function flyTo(button) {
                const cart = $('.fa-shopping-cart');
                const imgtodrag = $(button).parents('.course').find('.course_image').children("img");
                if (imgtodrag) {
                    const imgclone = imgtodrag.clone()
                        .offset({
                            top: imgtodrag.offset().top,
                            left: imgtodrag.offset().left
                        })
                        .css({
                            'opacity': '0.5',
                            'position': 'absolute',
                            'height': '150px',
                            'width': '150px',
                            'z-index': '100'
                        })
                        .appendTo($('body'))
                        .animate({
                            'top': cart.offset().top + 10,
                            'left': cart.offset().left + 10,
                            'width': 75,
                            'height': 75
                        }, 1000, 'easeInOutExpo');

                    setTimeout(function () {
                        cart.effect("shake", {
                            times: 2
                        }, 200);
                    }, 1500);

                    imgclone.animate({
                        'width': 0,
                        'height': 0
                    }, function () {
                        $(this).detach()
                    });
                }
            }

            $('.btnAddCart').on('click', function (e) {
                e.preventDefault();
                if (!$('#UserId').val())
                    window.location.href = '/account/login';
                const id = $(this).data('id');
                const btn = this;
                $.getJSON(`/cart/is-bought?courID=${id}`, function (data) {
                    if (data !== false) {
                        alert("Bạn đã mua khóa học này!");
                        return;
                    } else {
                        flyTo(btn);
                        $.ajax({
                            global: false,
                            type: 'POST',
                            url: '/cart/add', // missing quotes  
                            dataType: 'html',
                            data: {
                                id: id,
                            },
                            success: function (result) {
                                const ret = JSON.parse(result);
                                $('.cart-quantity').children('span').html(ret.cartQuantity);
                            },
                            error: function (request, status, error) {
                                serviceError();
                            }
                        });
                    }
                });
            });
        });
    </script>

{{/section}}
<!-- Home -->

<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="/">Trang chủ</a></li>
                            <li><a href="/courses">Các khóa học</a></li>
                            {{#if catSearch}}
                                <li>{{catSearch.CatName}}</li>
                            {{else}}
                                <li>Tất cả</li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Courses -->
<form id="frmFavour" method="POST" action="">
    <input id="txtID" name="id" type="hidden">
</form>
<form id="frmAddCart" action="/cart/add" method="POST">
    <input type="hidden" name="id" id="txtCourseId">
</form>
<input id="userId" type="hidden" value="{{user.Id}}">
<input id="favList" type="hidden" value="{{lcFavourite}}">

<div class="courses search_courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="sidebar">
                    <!-- Categories -->
                    <div class="sidebar_section">
                        {{#if catSearch}}
                            <div class="sidebar_section_title">{{catSearch.CatName}}</div>
                            <div class="sidebar_categories">
                                <ul>
                                    {{#each catSearch.Fields}}
                                        <li {{#eq ../../this.fldSearch FldID}} class="active" {{/eq}}><a
                                                href="/courses/byFld/{{FldID}}?cat={{../catSearch.CatID}}">{{FldName}}</a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{else}}
                            <div class="sidebar_section_title">Tất cả các lĩnh vực</div>
                            <div class="sidebar_categories">
                                <ul>
                                    {{#each lcCategories}}
                                        <li><a href="/courses/byCat/{{CatID}}">{{CatName}}</a></li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}
                    </div>

                </div>
            </div>
            <!-- Courses Main Content -->
            <div class="col-lg-8">
                <div class="courses_search_container">
                    <form action="/courses/search" id="courses_search_form"
                        class="courses_search_form d-flex flex-row align-items-center justify-content-start">
                        <input type="search" name="text" class="courses_search_input" placeholder="Tìm kiếm khóa học"
                            required="required" value="{{text}}">
                        <button action="submit" class="courses_search_button ml-auto">Tìm kiếm</button>

                    </form>
                </div>
                <div class="courses_container">
                    <div class="row courses_row">
                        {{#each courses}}
                            <!-- Course -->
                            <div class="col-sm-6 course_col item" data-id="{{CourID}}">
                                <div class="course">
                                    <div class="course_image">
                                        <img src="/images/courses/{{CourImgSm}}" alt="Course Image">
                                    </div>
                                    <a class="course_like"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                    <div class="course_body">
                                        <h3 class="course_title"><a href="/courses/detail/{{CourID}}">{{CourName}}</a>
                                        </h3>
                                        <div class="course_avatar_teacher">
                                            <div class="course_avatar"><img src="/images/teachers/{{TeachAvatar}}"
                                                    class="img-fluid rounded-circle" alt="Avatar Teacher"></div>
                                            <div class="course_teacher">
                                                <a href="/teacher/{{TeachID}}">{{TeachName}}</a>
                                            </div>
                                        </div>
                                        <div class="course_text">
                                            <p>{{CourDesShort}}</p>
                                        </div>
                                    </div>
                                    <div class="course_footer">
                                        <div
                                            class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                            <div class="course_info">
                                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                                <span>{{CourStudents}} Học viên</span>
                                            </div>
                                            <div class="course_info">
                                                <div class="star_outer">
                                                    <div class="star_inner"
                                                        style="width: {{setRatingValue CourPoint 70}}px;">
                                                    </div>
                                                </div>
                                                <span class="course_rating">{{roundRating CourPoint}}</span>
                                                <span class="course_count_rating">({{CourRates}})</span>
                                            </div>
                                            <div class="course_price ml-auto">{{format CourPrice}}đ</div>
                                        </div>
                                        <div class="course_button d-flex justify-content-between">
                                            <button data-id={{CourID}} class="btnAddCart btn btn-primary btn-add"
                                                href="javascipt:;">
                                                <i class="fa fa-cart-plus"></i>
                                                Thêm Vào Giỏ Hàng
                                            </button>
                                            <a id="btnDetail" class="btn btn-outline-primary btn-detail"
                                                href="/courses/detail/{{CourID}}" role="button">
                                                Xem Chi Tiết
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    {{#if empty}}
                        <div class="d-flex justify-content-center">
                            <h3>Không tìm thấy khóa học phù hợp</h3>
                        </div>
                    {{else}}
                        <div class="row pagination_row">
                            <div class="col">
                                <div
                                    class="pagination_container d-flex flex-row align-items-center justify-content-between">
                                    <ul class="pagination_list">
                                        <li class="prev"><a href="#"><i class="fa fa-angle-left"
                                                    aria-hidden="true"></i></a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li class="next"><a href="#"><i class="fa fa-angle-right"
                                                    aria-hidden="true"></i></a></li>
                                    </ul>
                                    <!--
                                    <div class="courses_show_container clearfix">
                                        <div class="courses_show_text">Hiển thị <span class="courses_showing">1-6</span>
                                            của
                                            <span class="courses_total">26</span> kết quả:
                                        </div>
                                        <div class="courses_show_content">
                                            <span>Hiển thị: </span>
                                            <select id="courses_show_select" class="courses_show_select">
                                                <option>06</option>
                                                <option>12</option>
                                                <option>24</option>
                                                <option>36</option>
                                            </select>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>

            <!-- Courses Sidebar -->

        </div>
    </div>
</div>
