{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/assets/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css" />
{{/section}}

{{#section 'js'}}
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/_bonus.js"></script>
    <script>
        $(document).ready(function(){
           const url = window.location.href;
           if(url.toString().includes("#list-my-courses"))
           {
               $('#list-myCourses-list').click();
           }else if(url.toString().includes("#list-fav-courses"))
           {
               $('#list-favCourses-list').click();
           }

           
           $(".course_like").on('click', function(e){
              e.preventDefault();
              const id  = $(this).data("id");
              $('#txtFavId').val(id);
              $('#frmRemoveFav').submit();    
           });
        });
    </script>
{{/section}}
<div class="container" style="margin:200px 0">
    {{#with user}}
    <div class="row">
        <div class="left col-sm-4">
            <div class="user_avatar text-center">
                {{#if Avatar}}
                   <img src="/images/students/{{Avatar}}" class="rounded" alt="Avatar">
                {{else}}
                    <img src="/images/no-avatar.png" class="rounded" alt="Avatar">
                {{/if}}
                
            </div>

            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-profile-list" data-toggle="list"
                    href="#list-profile" role="tab" aria-controls="profile"><i class="fa fa-user"></i> Thông tin cá
                    nhân</a>
                <a class="list-group-item list-group-item-action" id="list-myCourses-list" data-toggle="list"
                    href="#list-my-courses" role="tab" aria-controls="myCourses"><i class="fa fa-book"></i> Khóa học của
                    tôi</a>
                <a class="list-group-item list-group-item-action" id="list-favCourses-list" data-toggle="list"
                    href="#list-fav-courses" role="tab" aria-controls="favCourses"><i class="fa fa-heart"></i> Khóa học
                    yêu thích</a>
            </div>




        </div>
        <div class="col-sm-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-profile" role="tabpanel"
                    aria-labelledby="list-profile-list">
                   
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Thông tin cá nhân</h4>
                            <p class="card-text">
                            <table class="table_profile">
                                <tr>
                                    <th>Họ tên</th>
                                    <td>{{Username}}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{Email}}</td>
                                </tr>
                            </table>
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            <a name="edit_profile" id="editProfile" class="btn btn-primary" href="/account/edit" role="button">Chỉnh
                                sửa thông tin</a>
                            <a name="change_pw" id="changePw" class="btn btn-outline-primary" href="/account/security" role="button">Đổi
                                mật khẩu</a>
                        </div>
                    </div>
                   

                </div>
                <div class="tab-pane fade" id="list-my-courses" role="tabpanel" aria-labelledby="list-myCourses-list">
                    <div class="courses_container my_course">
                        <div class="row">
                            <!-- Course -->
                            {{#each ../myCourses}}
                            <div class="col-sm-4 course_col">
                                <div class="course">
                                    <div class="course_image">
                                        <img src="/images/courses/{{CourImgSm}}" alt="Course Image">
                                    </div>
                                   <!-- <div class="course_like"><i class="fa fa-heart" aria-hidden="true"></i></div>-->
                                    <div class="course_body">
                                        <h3 class="course_title"><a href="/mycourses/{{RatID}}">{{CourName}}</a>
                                        </h3>
                                        <div class="course_avatar_teacher">
                                            <div class="course_avatar"><img src="/images/teachers/{{TeachAvatar}}"
                                                    class="img-fluid rounded-circle" alt="Avatar Teacher"></div>
                                            <div class="course_teacher">
                                                <a href="/teacher/{{TeachID}}">{{TeachName}}</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-fav-courses" role="tabpanel" aria-labelledby="list-favCourses-list">
                    <div class="courses_container my_course">
                        <div class="row">
                            <!-- Course -->
                            {{#each ../myFavCourses}}
                            <div class="col-sm-4 course_col">
                                <div class="course">
                                    <div class="course_image">
                                        <img src="/images/courses/{{CourImgSm}}" alt="Course Image">
                                    </div>
                                    <form id="frmRemoveFav" action="/account/myfavourite/del" method="POST">
                                        <input name="id" id="txtFavId" type="hidden">
                                    </form>
                                    <a class="course_like" data-id="{{FavID}}" href="javascript;:"><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i></a>
                                    <div class="course_body">
                                        <h3 class="course_title"><a href="/courses/detail/{{CourID}}">{{CourName}}</a>
                                        </h3>
                                        <div class="course_avatar_teacher">
                                            <div class="course_avatar"><img src="/images/teachers/{{TeachAvatar}}"
                                                    class="img-fluid rounded-circle" alt="Avatar Teacher"></div>
                                            <div class="course_teacher">
                                                <a href="/teacher/{{TeachID}}">{{TeachName}}</a>
                                            </div>
                                        </div>
                                    </div>
                    
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/with}}

</div>
