<!-- Top Bar -->
<div class="top_bar">
    <div class="top_bar_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                        <ul class="top_bar_contact_list">
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <div>0981536554</div>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <div>unicat@gmail.com</div>
                            </li>
                        </ul>
                        <form id="frmLogout" method="post" action="/account/logout" style="display: none;"></form>
                        <div class="top_bar_login ml-auto">
                            {{#if user}}
                                <div class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <div class="wrap_avatar">
                                            {{#if user.Avatar}}
                                                <img src="/images/students/{{user.Avatar}}" alt="Avatar" class="avatar">
                                            {{else}}
                                                <div class="name">{{user.Username}}</div>
                                            {{/if}}
                                        </div>
                                        <span>{{user.Username}}</span>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="/account/profile">
                                            <div class="wrap_avatar">
                                                {{#if user.Avatar }}
                                                    <img src="/images/students/{{user.Avatar}}" alt="Avatar"
                                                        class="avatar">
                                                {{else}}
                                                    <div class="name">{{user.Username}}</div>
                                                {{/if}}
                                            </div>
                                            <span>{{user.Username}}</span>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript: $('#frmLogout').submit();">
                                            <i class="fa fa-sign-out"></i><span>Đăng xuất</span>
                                        </a>
                                    </div>
                                </div>
                            {{else}}
                                <div class="login_button"><a href="/account/login">Đăng nhập</a>&nbsp;/&nbsp;<a
                                        href="/account/register">Đăng ký</a></div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Header Content -->
<div class="header_container">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header_content d-flex flex-row align-items-center justify-content-between">
                    <div class="logo_container ">
                        <a href="/">
                            <div class="logo_text">Unic<span>at</span></div>
                        </a>
                    </div>
                    <nav class="main_nav_contaner w-70 d-flex align-items-center">
                        <ul class="main_nav mr-auto">
                            <li class="{{#if home_page}}active{{/if}}"><a href="/">Trang chủ</a></li>
                            <li class="{{#if courses_page}}active{{/if}} dropdown">
                                <a class="dropdown_link" href="/courses">Các khóa học&nbsp;<i
                                        class="fa fa-caret-down"></i> </a>
                                <ul class="dropdown_content">
                                    {{#each lcCategories}}
                                        <li class="dropdown_submenu" id="{{CatID}}">
                                            <a class="cat_name" href="/courses/byCat/{{CatID}}">{{CatName}}</a>
                                        </li>
                                    {{/each}}
                                </ul>
                                {{#each lcCategories}}
                                    <ul class="dropdown_menu" id="ul{{CatID}}">
                                        <div class="list_title">{{CatName}}</div>
                                        {{#each Fields}}
                                            <li><a href="/courses/byFld/{{FldID}}">{{FldName}}</a></li>
                                        {{/each}}
                                    </ul>
                                {{/each}}

                            </li>

                        </ul>

                        <div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>

                        <!-- Hamburger -->

                        <a class="shopping_cart" href="/cart">
                            <i class="fa fa-shopping-cart d-flex" aria-hidden="true">
                                <div class="cart-quantity"><span>{{cartSummary}}</span></div>
                            </i>

                        </a>
                        <div class="hamburger menu_mm">
                            <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                        </div>

                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Header Search Panel -->
<div class="header_search_container ">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header_search_content d-flex flex-row align-items-center justify-content-end">
                    <form action="/courses/search" class="header_search_form menu_mm" id="frmSearchData">
                        <input type="search" name="text" class="search_input menu_mm" placeholder="Search"
                            required="required">
                        <button type="submit"
                            class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
                            <i class="fa fa-search menu_mm" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Menu -->

<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container">
        <div class="menu_close">
            <div></div>
            <div></div>
        </div>
    </div>
    <div style="display:{{#if user}}none{{else}}block{{/if}};">
        <div class="menu_link"><a href="register">Đăng Ký</a></div>
        <div class="menu_link"><a href="login">Đăng Nhập</a></div>
    </div>
    <div class="search">
        <form action="/courses/search" method="POST" class="header_search_form menu_mm">
            <input type="search" name="text" class="search_input menu_mm" placeholder="Search" required="required">
            <button type="submit"
                class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
                <i class="fa fa-search menu_mm" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <nav class="menu_nav">
        <ul class="menu_mm">
            <li class="menu_mm {{#if home_page}}active{{/if}}"><a href="/">Trang chủ</a></li>
            <li class="menu_mm {{#if courses_page}}active{{/if}}"><a href="/courses">Các khóa học</a></li>
        </ul>
    </nav>
</div>
