<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Title Page-->
        <title>{{title}}</title>

        <!-- Fontfaces CSS-->
        <link href="/admin/css/font-face.css" rel="stylesheet" media="all">
        <link href="/admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="/admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
        <link href="/admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

        <!-- Bootstrap CSS-->
        <link href="/admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

        <!-- Vendor CSS-->
        <link href="/admin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
        <link href="/admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet"
            media="all">
        <link href="/admin/vendor/wow/animate.css" rel="stylesheet" media="all">
        <link href="/admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
        <link href="/admin/vendor/slick/slick.css" rel="stylesheet" media="all">
        <link href="/admin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <link href="/admin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

        <!-- Main CSS-->
        <link href="/admin/css/theme.css" rel="stylesheet">
        <link href="/admin/css/style.css" rel="stylesheet">
        {{{_sections.css}}}
    </head>

    <body class="animsition">
        <div class="page-wrapper">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop3 d-none d-lg-block">
                <div class="section__content section__content--p35">
                    <div class="header3-wrap">
                        <div class="header__logo">
                            <div class="logo_container ">
                                <a href="/admin/">
                                    <div class="logo_text">Unic<span>at</span></div>
                                    <span class="post_text">Ad</span>
                                </a>
                            </div>
                        </div>
                        <div class="header__navbar">
                            <ul class="list-unstyled">
                                <li class="has-sub">
                                    <a href="/admin/">
                                        <i class="fas fa-tachometer-alt"></i>Trang chủ
                                        <span class="bot-line"></span>
                                    </a>
                                </li>
                                <li class="{{#if mg_cat}} active{{/if}}">
                                    <a href="/admin/manage-categories">
                                        <i class="fa fa-list" aria-hidden="true"></i>
                                        <span class="bot-line"></span>Quản lý danh mục</a>
                                </li>
                                <li class="{{#if mg_tc}} active{{/if}}">
                                    <a href="/admin/manage-teachers">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                        <span class="bot-line"></span>Quản lý giảng viên</a>
                                </li>
                                <li class="{{#if mg_st}} active{{/if}}">
                                    <a href="/admin/manage-students">
                                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                        <span class="bot-line"></span>Quản lý học viên</a>
                                </li>
                                <li class="{{#if mg_cs}} active{{/if}}">
                                    <a href="/admin/manage-courses">
                                        <i class="fa fa-book" aria-hidden="true"></i>
                                        <span class="bot-line"></span>Quản lý khóa học</a>
                                </li>
                            </ul>
                        </div>
                        <div class="header__tool">
                            <div class="account-wrap">
                                <div class="account-item account-item--style2 clearfix js-item-menu">
                                    <div class="image">
                                        <img src="/images/admins/{{admin.Avatar}}" alt="{{admin.Username}}" />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="/admins/">{{admin.Username}}</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="/admin/">
                                                    <img src="/images/admins/{{admin.Avatar}}"
                                                        alt="{{admin.Username}}" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a class="js-acc-btn" href="/admins/">{{admin.Username}}</a>
                                                </h5>
                                                <span class="email">{{admin.Email}}</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="/admin/">
                                                    <i class="zmdi zmdi-account"></i>Account</a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <form action="/admin/logout" id="frmLogout" method="post">
                                            </form>
                                            <a href="#" id="btnLogout">
                                                <i class="zmdi zmdi-power"></i>Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <!-- HEADER MOBILE-->
            <header class="header-mobile header-mobile-2 d-block d-lg-none">
                <div class="header-mobile__bar">
                    <div class="container-fluid">
                        <div class="header-mobile-inner logo_container">
                            <a href="/admin/">
                                <div class="logo_text">Unic<span>at</span></div>
                                <span class="post_text">Ad</span>
                            </a>
                            <button class="hamburger hamburger--slider" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <nav class="navbar-mobile">
                    <div class="container-fluid">
                        <ul class="navbar-mobile__list list-unstyled">
                            <li class="has-sub">
                                <a href="/admin/">
                                    <i class="fas fa-tachometer-alt"></i>Trang chủ
                                    <span class="bot-line"></span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/manage-categories">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <span class="bot-line"></span>Quản lý danh mục</a>
                            </li>
                            <li>
                                <a href="/admin/manage-teachers">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <span class="bot-line"></span>Quản lý giảng viên</a>
                            </li>
                            <li class="has-sub">
                                <a href="/admin/manage-students">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span class="bot-line"></span>Quản lý học viên</a>
                            </li>
                            <li class="has-sub">
                                <a href="/admin/manage-courses">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                    <span class="bot-line"></span>Quản lý khóa học</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <div class="sub-header-mobile-2 d-block d-lg-none">
                <div class="header__tool">
                    <div class="account-wrap">

                        <div class="account-item account-item--style2 clearfix js-item-menu">
                            <div class="image">
                                <img src="/images/admins/{{admin.Avatar}}" alt="{{admin.Username}}" />
                            </div>
                            <div class="content">
                                <a class="js-acc-btn" href="/admins/">{{admin.Username}}</a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="image">
                                        <a href="/admin/">
                                            <img src="/images/admins/{{admin.Avatar}}" alt="{{admin.Username}}" />
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h5 class="name">
                                            <a class="js-acc-btn" href="/admins/">{{admin.Username}}</a>
                                        </h5>
                                        <span class="email">{{admin.Email}}</span>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="/admin/">
                                            <i class="zmdi zmdi-account"></i>Account</a>
                                    </div>
                                </div>
                                <div class="account-dropdown__footer">
                                    <form action="/admin/logout" id="frmLogout-mobile" method="post">
                                    </form>
                                    <a href="#" id="btnLogout-mobile">
                                        <i class="zmdi zmdi-power"></i>Logout</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END HEADER MOBILE -->

            <!-- PAGE CONTENT-->
            <div class="page-content--bgf7">
                <!-- BREADCRUMB-->
                <section class="au-breadcrumb2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="au-breadcrumb-content">
                                    <div class="au-breadcrumb-left">
                                        <span class="au-breadcrumb-span"></span>
                                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                                            <li class="list-inline-item active">
                                                <a href="/admin/">Trang chủ</a>
                                            </li>
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                            {{#if mg_st}}
                                                <li class="list-inline-item">Quản lý học viên</li>
                                            {{/if}}
                                            {{#if mg_cs}}
                                                <li class="list-inline-item">Quản lý khóa học</li>
                                            {{/if}}
                                            {{#if mg_tc}}
                                                <li class="list-inline-item">Quản lý giảng viên</li>
                                            {{/if}}
                                            {{#if mg_cat}}
                                                <li class="list-inline-item">Quản lý danh mục</li>
                                            {{/if}}

                                        </ul>
                                    </div>
                                    <form class="au-form-icon--sm" action="" method="post">
                                        <input class="au-input--w300 au-input--style2" type="text"
                                            placeholder="Search for datas &amp; reports...">
                                        <button class="au-btn--submit2" type="submit">
                                            <i class="zmdi zmdi-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END BREADCRUMB-->
                {{{body}}}
                <!-- COPYRIGHT-->
                <section class="p-t-60 p-b-20">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2021 Unicat. All rights reserved. <a href="/admin/">Unicat</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END COPYRIGHT-->
            </div>

        </div>

        <!-- Jquery JS-->
        <script src="/admin/vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="/admin/vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="/admin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="/admin/vendor/slick/slick.min.js">
        </script>
        <script src="/admin/vendor/wow/wow.min.js"></script>
        <script src="/admin/vendor/animsition/animsition.min.js"></script>
        <script src="/admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
        </script>
        <script src="/admin/vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="/admin/vendor/counter-up/jquery.counterup.min.js">
        </script>
        <script src="/admin/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="/admin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="/admin/vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="/admin/vendor/select2/select2.min.js">
        </script>

        <!-- Main JS-->
        <script src="/admin/js/main.js"></script>
        <script>
            $(document).ready(function () {
                $('#btnLogout').click(function (e) {
                    e.preventDefault();
                    $('#frmLogout').submit();
                });
                $('#btnLogout-mobile').click(function (e) {
                    e.preventDefault();
                    $('#frmLogout-mobile').submit();
                });
            });
        </script>
        {{{_sections.js}}}
    </body>

</html>
<!-- end document-->
