<!-- DATA TABLE-->
{{#section 'js'}}
    <script>
        $(document).ready(function () {
            $('#btnNewCat').click(function () {
                window.location.href = '/admin/manage-categories/new-sub-cat';
            });
            $(".btn-edit-cat").click(function (e) {
                e.preventDefault();
                const id = $(this).parents(".tr-shadow").data("id");
                $('#txt_id').val(id);
                $("#frmEditCat").submit();
            });
            $(".btn-del-subcat").click(function (e) {
                e.preventDefault();
                const id = $(this).parents(".tr-shadow").data("id");
                $('#txt_id1').val(id);
                $("#frmDelCat").submit();
            });
             $('#slCat').on("change", function (e) {
                if ($(this).val() === "0") {
                    window.location.href = "/admin/manage-categories/";
                } else {
                    window.location.href = "/admin/manage-categories/sub-cat";
                }

            });
        });
    </script>
{{/section}}
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Danh mục khóa học con</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="property" id="slCat">
                                <option selected="selected">Loại danh mục</option>
                                <option value="0">Danh mục</option>
                                <option value="1">Danh mục con</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="time">
                                <option selected="selected">Giảng viên</option>
                                {{#each teachers}}
                                    <option value="{{TeachID}}">{{TeachName}}</option>
                                {{/each}}
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <button class="au-btn-filter">
                            <i class="zmdi zmdi-filter-list"></i>filters</button>
                    </div>
                    <div class="table-data__tool-right">
                        <button id="btnNewCat" class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="zmdi zmdi-plus"></i>Thêm danh mục mới</button>
                        <!--
                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                            <select class="js-select2" name="type">
                                <option selected="selected">Export</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>-->
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </th>
                                <th>Tên danh mục</th>
                                <th>Danh mục cha</th>
                                <th>Số khóa học</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="/admin/manage-categories/edit-fld" method="post" id="frmEditCat">
                                <input type="hidden" id="txt_id" name="id">
                            </form>
                            <form action="/admin/manage-categories/del-subcat" method="post" id="frmDelCat">
                                <input type="hidden" id="txt_id1" name="id">
                            </form>
                            {{#each fields}}
                                <tr class="tr-shadow" data-id={{FldID}}>
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>{{FldName}}</td>
                                    <td>{{CatName}}</td>
                                    <td>
                                        <span class="status--process">{{FldCourses}}</span>
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item btn-edit-cat" data-toggle="tooltip" data-placement="top"
                                                title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item btn-del-subcat " data-toggle="tooltip" data-placement="top"
                                                title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top"
                                                title="More">
                                                <i class="zmdi zmdi-more"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="spacer"></tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->
