{{#section 'js'}}
    <script>
        $(document).ready(function () {
            $("#slTeachers").change(function (e) {
                $('#frmGetCourses input').val($(this).val());
                $('#frmGetCourses').submit();
            });

            $('.btn-disable-course').on('click', function (e) {
                e.preventDefault();
                const id = $(this).parents(".table-data-disable").data("id");
                const status = $(this).parents(".table-data-disable").data("st");
                $('#txt_course').val(id);
                $('#txt_status').val(status);
                $('#frmDisable').submit();
            });
        });
    </script>
{{/section}}
<!-- DATA TABLE-->
<form action="/admin/manage-courses/get-courses" method="post" id="frmGetCourses">
    <input type="hidden" name="id">
</form>
<form action="/admin/manage-courses/disable-course" id="frmDisable" method="post">
    <input type="hidden" name="course" id="txt_course">
    <input type="hidden" name="status" id="txt_status">
</form>
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Danh sách khóa học</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="property" id="slCat">
                                <option selected="selected">Loại danh mục</option>
                                <option value="0">Danh mục</a></option>
                                <option value="1">Danh mục con</a></option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="time" id="slTeachers">
                                <option selected="selected" disabled>Giảng viên</option>
                                {{#each teachers}}
                                    <option value="{{TeachID}}" {{#eq ../teacher.TeachID TeachID}}selected{{/eq}}>
                                        {{TeachName}}</option>
                                {{/each}}

                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <button class="au-btn-filter">
                            <i class="zmdi zmdi-filter-list"></i>filters</button>
                    </div>
                    <div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="zmdi zmdi-plus"></i>add item</button>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </th>
                                <th>Hình ảnh</th>
                                <th>Tên khóa học</th>
                                <th>Mô tả ngắn</th>
                                <th>Giảng viên</th>
                                <th>Giá</th>
                                <th>Điểm đánh giá</th>
                                <th>Số lượt mua</th>
                                <th>Số lượt xem</th>
                                <th>Tình trạng</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each courses}}
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <img src="/images/courses/{{CourImgSm}}" alt="{{CourName}}"
                                            style="max-width:150px; height:100px;">
                                    </td>
                                    <td>{{CourName}}</td>
                                    <td>
                                        <span class="block-email" style="width:16rem">{{CourDesShort}}</span>
                                    </td>
                                    <td>{{TeachName}}{{#if ../teacher}}{{../teacher.TeachName}}{{/if}}</td>
                                    <td>{{format CourPrice}}</td>
                                    <td>{{roundRating CourPoint}}</td>
                                    <td>
                                        <span class="status--process">{{CourStudents}}</span>
                                    </td>
                                    <td>
                                        <span class="status--process">{{Views}}</span>
                                    </td>
                                    <td class="table-data-disable" data-id="{{CourID}}" data-st="{{isDisable}}">

                                        <button class="item btn-disable-course" data-toggle="tooltip" data-placement="top"
                                            title="{{#eq isDisable 0}}Đình chỉ{{/eq}}{{#eq isDisable 1}}Ngưng đình chỉ{{/eq}}">
                                            {{#eq isDisable 0}}
                                                <span class="status--process">Bình thường</span>
                                            {{/eq}}
                                            {{#eq isDisable 1}}
                                                <span class="status--denied">Đình chỉ</span>
                                            {{/eq}}
                                        </button>
                                    </td>
                                    <td>
                                        <div class="table-data-feature">

                                            <button class="item" data-toggle="tooltip" data-placement="top"
                                                title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top"
                                                title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top"
                                                title="More">
                                                <i class="zmdi zmdi-more"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->
